* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.app {
  height: 100dvh;
}

/* Portrait */
@media (orientation: portrait) {
  .app {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  .stats,
  .trash {
    padding: 1rem;
    text-align: center;
  }
}

/* Landscape */
@media (orientation: landscape) {
  .app {
    display: grid;
    grid-template-columns: auto 1fr auto;
  }

  .stats,
  .trash {
    width: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}  

.game-area {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.board {
    background:
    /* soft light patches */
    radial-gradient(
      ellipse at 20% 30%,
      rgba(255,255,255,.04),
      transparent 45%
    ),

    radial-gradient(
      ellipse at 75% 60%,
      rgba(255,255,255,.03),
      transparent 40%
    ),

    /* darker patches */
    radial-gradient(
      ellipse at 60% 20%,
      rgba(0,0,0,.08),
      transparent 50%
    ),

    radial-gradient(
      ellipse at 30% 80%,
      rgba(0,0,0,.06),
      transparent 45%
    ),

    /* sparse grain lines */
    repeating-linear-gradient(
      90deg,
      transparent 0px,
      transparent 18px,
      rgba(0,0,0,.08) 19px,
      transparent 21px,
      transparent 40px
    ),

    /* base color */
    linear-gradient(
      180deg,
      #4b2e1f,
      #3a2418
    );
  width: min(100%, 100dvh);
  max-width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 4px;
  position: relative;
}

.card {
  position: absolute;
  touch-action: none;
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
}

.card:hover {
  z-index: 100;
}

.paperStack, .paper {
  border: 1px solid black;
  border-radius: 5px;
  background-color: papayawhip;
  width: 70%;
  height: 40%;
  align-content: center;
}

.paperStack {
  box-shadow:
    /* The top layer shadow */
    0 -1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 -10px 0 -5px #eee,
    /* The second layer shadow */
    0 -10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 -20px 0 -10px #eee,
    /* The third layer shadow */
    0 -20px 1px -9px rgba(0,0,0,0.15);
}